:root { 
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#app {
  width: 100%;
  display: flex;
  max-width: 300px;
  flex-direction: column;
  justify-content: center;
}

/* 
@media (max-width: 1380px) {
  #app {
    width: 100%;
  }
} */